[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.11"
pymysql = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
